@model WebApp.Models.UserLogin
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>
<a href="@Url.Action("Create", "UserLogins")">Register</a>

@using (Html.BeginForm("Authorize", "Login", FormMethod.Post, new { @class = "form-control" }))
{
    @Html.LabelFor(model => model.Username, new { @class = "form-control" });
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" });
   
    @Html.LabelFor(model => model.Password, new { @class = "form-control" });
    @Html.TextBoxFor(model => model.Password, new { @class = "form-control" });

   <button>Login</button>

}